@font-face {
    font-family: Ailerons-Regular;
    src: url(../fonts/Ailerons-Regular.otf);
}

*{
    margin: 0%;
    list-style: none;
    font-family: 'Ailerons-Regular', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 11px;       
  }
  
  body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);

  } 
  
  body::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
  }

body{ /* CORPO */
    background-image: url(https://i.pinimg.com/originals/85/a8/ec/85a8ec657916bb73057ebb16d3b0958e.jpg);
    background-color: #000000;
    /* background-color: black; */
    background-size: 100%;
    background-attachment: fixed;
}

#menu{ /*PRIMEIRO DIV*/
    background-color: #000000;
    min-height: 70px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-color: rgba(0, 255, 255, 0.479);
    position: relative;
    3px solid rgb(255, 255, 255);
    3px solid rgb(0, 0, 0); 
}

#navMENU ul{ /* UL */
    display: inline-flex;
    float: right;
    gap: 2rem;
    padding-right: 30px;
    margin-top: 17px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: normal;
}

#navMENU li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
}

#linkMENU {
    text-decoration: none;
    color: white;
    display: inline-flex;
    padding-left: 30px;
    font-size: 25px;
}

#h1MENU{
    font-weight: 300;
}

#linkMIDDLE{
    text-decoration: none;
}

#realMenu{
    border-bottom: solid;
}


.container {
    width: 100%;
    height: 100%;

    background: white;
}

.middle{
    height: 300px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 200px;
    font-weight: 300;
    padding-top: 20px;
    /* background-color: blue; */
    justify-items: center;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    /* background-image: url(https://thumbs.gfycat.com/AcademicIllinformedGreatdane-size_restricted.gif); */
    justify-content: center;
    align-items: center;
    background-size: 500px;
    background-attachment: fixed;
}

#editVideo{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: px;
    border-radius: 2px;
    background-color: black;
}


.h1Video{
    color: white;
    font-weight: 300;
    font-size: 45px;
    background-color: black;
    
    padding-top: 20px; 
    padding-left: 30px;
}

#marcas{
    margin-top: px;
}

#editMarcas{
    min-height: 70px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    justify-content: center;
    align-items: center;
    float: inline-end;
    border-radius: 2px;
    background-color: black;
    background-image: linear-gradient(black, rgb(36, 36, 36),  rgb(36, 36, 36));
    background-image: linear-gradient(black, rgb(36, 36, 36),  rgb(36, 36, 36));
}

.tamanhoImagem{
    
    background-color: black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    width: 280px;
    height: 200px;
    border: solid;
    border-radius: 20px;
    border-color: white;
    background-image: url(https://i.makeagif.com/media/1-12-2021/YsWRDA.gif);
    background-color: white;
}

.primeiraLinha{
    padding-bottom: 15px;
}

.segundaLinha{
    padding-bottom: 15px;
}

.terceiraLinha{
    padding-bottom: 15px;
}

.quartaLinha{
    padding-bottom: 15px;
}

#video{
    border-top: 1px solid rgb(255, 255, 255);
    border-color: rgba(0, 255, 255, 0.479);
}

.comumText{
    color: white;
}

.tamanhoImagem:hover
{
    box-shadow: inset 60px 0 0 0 gray;
    color: white;
      -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        
}

#ulMenu li a:hover{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}

.sobreTudo {
    background-image: url(https://64.media.tumblr.com/6b24ab263abb466ee604409af3d02874/tumblr_p7p5m5hZlK1w3y4ilo1_500.gifv);
}

#editSobre{
    background-color: black;
    
}

.esquerda{
    
}

#esquerda{
    background-image: url(https://thumbs.gfycat.com/ChubbyNiceCommabutterfly-size_restricted.gif);
    padding-top: 80px;
    padding-left: 162px;
    font-size: 40px;
    margin-right: 0%;
}

#paragrafoEsquerda1{
    text-align: center;
    font-weight: 100;
    margin-right: 0%;
    width: 500px;
}

#direita{
    background-image: url(https://thumbs.gfycat.com/ChubbyNiceCommabutterfly-size_restricted.gif);
    padding-top: 100px;
    padding-left: 1015px;
    font-size: 40px;
}

#paragrafoDireita{
    float: right;
    text-align: center;
    font-weight: 100;
    width: 500px;
}

#esquerda2{
    background-image: url(https://thumbs.gfycat.com/ChubbyNiceCommabutterfly-size_restricted.gif);
    padding-top: 10px;
    padding-left: 162px;
    font-size: 40px;
}

#paragrafoEsquerda2{
    text-align: center;
    font-weight: 100;
    width: 500px;
    padding-bottom: 80px;
}

.imagemEsquerda img{
        margin: auto;
        height: 20%;
        width: 40%;
        float: right;
        margin-top: -22%; 
        border-radius: 10px
}

.imagemEsquerda2 img{
    margin: auto;
    height: 20%;
    width: 40%;
    float: right;
    margin-top: -25%; 
    border-radius: 10px
}

.imagemDireita img{
    margin: auto;
    height: 20%;
    width: 40%;
    margin-top: -15%; 
    border-radius: 10px
}

#navMENU li a{

}

#navMENU li a:hover{
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    color: black;
    color: rgb(139, 138, 138);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

