@font-face {
    font-family: Ailerons-Regular;
    src: url(../fonts/Ailerons-Regular.otf);
}

*{
    margin: 0%;
    list-style: none;
    font-family: 'Ailerons-Regular', sans-serif;
}

body::-webkit-scrollbar {
    width: 11px;       
  }
  
  body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
  }

body{ /* CORPO */
    background-color: rgb(255, 255, 255);
    background-size: 100%;
    background-attachment: fixed;
}

#menu{ /*PRIMEIRO DIV*/
    background-color: black;
    height: 70px;
    3px solid rgb(255, 255, 255);
    3px solid rgb(0, 0, 0);
}

#navMENU ul li a{ /* UL */
    display: inline-flex;
    float: right;
    gap: 2rem;
    padding-right: 30px;
    margin-top: 17px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: normal;
}

#linkMENU {
    text-decoration: none;
    color: white;
    display: inline-flex;
    padding-left: 30px;
    font-size: 25px;
}

#h1MENU{
    font-weight: 300;
}

#linkMIDDLE{
    text-decoration: none;
}


.container {
    width: 100%;
    height: 100%;

    background: white;
}

.middle{
    height: 300px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 200px;
    font-weight: 300;
    padding-top: 20px;
    background-color: blue;
}


